<div style="padding-top:200px;">
    <div class="row">
       <span style="margin-left:45%;height: 40px;font-weight: bold;">My Profile</span>
     </div>
     <div class="row">
       <div class="col-lg-6">
         <div class="container" style="width:500px;heigth:40px;border:1px solid #012b72;background-color:#012b72">
           <span style="color:white;text-align: center;">Personal Details</span>
         </div>
           <div class="container" style="width:500px;border:1px solid #012b72">
               <table id="reviewer_table" class="table table-hover table-striped table-condensed tasks-table">
               <thead>
               </thead>
               <tbody>
                   <tr style=" background-color: #dcdcdc;">
                       <td>Name</td>
                       <td>{{userData.name}}</td>
                       
                       </tr>
                       
                       <tr style="background-color: #aaaaaa;">
                       <td>ID</td>
                       <td>{{userData.user_unique_id}}</td>
                      
                       </tr>
                       
                           
                           <tr style=" background-color: #dcdcdc;">
                           <td>Gender</td>
                           <td>{{actorData.gender}}</td>
                           </tr>
                           
                           <tr style="background-color: #aaaaaa;">
                             <td>Date of Birth</td>
                             <td>{{actorData.dob}}</td>
                             </tr>
                            <tr style="background-color: #dcdcdc;">
                           <td>Age</td>
                           <td>{{actorData.age}}</td>
                           </tr>
                           
                            <tr style=" background-color: #aaaaaa;">
                           <td>Height</td>
                           <td>{{actorData.height}}</td>
                           </tr>
                           
                            <tr style="background-color: #dcdcdc;">
                           <td>Weight</td>
                           <td>{{actorData.weight}}</td>
                           </tr>
                           
                            <tr style="background-color: #aaaaaa;">
                           <td>Mobile Number</td>
                           <td>{{userData.mobile}}</td>
                           </tr>
                           
                            <tr style="background-color: #dcdcdc;">
                           <td>Landline Number</td>
                           <td>{{actorData.whatsapp}}</td>
                           </tr>
                           
                            <tr style=" background-color: #aaaaaa;">
                           <td>Whatsapp Number</td>
                           <td>{{actorData.whatsapp}}</td>
                           </tr>
                           
                            <tr style="background-color: #dcdcdc;">
                           <td>Email</td>
                           <td>{{userData.email}}.com</td>
                           </tr>
                           
                            <tr style=" background-color: #aaaaaa;">
                           <td>Qualification</td>
                           <td>{{actorData.qualification}}</td>
                           </tr>
                           
                            <tr style="background-color: #dcdcdc;">
                           <td>Course Done related to film</td>
                           <td>{{actorData.filmsCourse}}</td>
                           </tr>
                           
                            <tr style="  background-color: #aaaaaa;">
                           <td>Languages</td>
                           <td>{{actorData.language}},&nbsp;{{actorData.otherLanguage}}</td>
                           </tr>
                           
                            <tr style="background-color: #dcdcdc;">
                           <td>Select Profile(public or private)</td>
                           <td>{{actorData.privacy}}</td>
                           </tr>
                           
                            <tr style=" background-color: #aaaaaa;">
                           <td>About Me</td>
                           <td>{{actorData.aboutSelf}}</td>
                           </tr>
                           
                            <tr style="background-color: #dcdcdc;">
                           <td>Address</td>
                           <td>{{actorData.address}}</td>
                           </tr>
                           
                            <tr style=" background-color: #aaaaaa;">
                           <td>Country</td>
                           <td>{{actorData.country}}</td>
                           </tr>
                           
                            <tr style="background-color: #dcdcdc;">
                           <td>State</td>
                           <td>{{actorData.state}}</td>
                           </tr>
                           
                            <tr style="background-color: #aaaaaa;">
                           <td>City</td>
                           <td>{{actorData.city}}</td>
                           </tr>
                           
                            <tr style="background-color: #dcdcdc;">
                           <td>Zipcode / Postalcode</td>
                           <td>{{actorData.zip}}</td>
                           </tr>
                           
                            <tr style="background-color: #aaaaaa;">
                           <td>Film Industry Intested in now</td>
                           <td>SANDALWOOD</td>
                           </tr>
               </tbody>
               </table>
             </div>
       </div>

       <div class="col-lg-6">
          <div class="container" style="width:500px;heigth:40px;border:1px solid #012b72;background-color:#012b72">
              <span style="color:white;text-align: center;">Gallery</span>
            </div>
            <div class="container" style="width:500px;border:1px solid #012b72">
                <div class="row" style="text-align:  center; ">
										<div class="col-lg-3" >
											<div class="project-wrapper" style="border: 3px solid #03a9f4;">
												<div class="project">
													<div class="photo-wrapper">
														<div class="photo">
															<a class="fancybox"><img class="img-responsive" src="assets\images\blogs\detail\4.jpg" style="width: 90px; height:80px"  alt=""></a>
														</div>
														<div class="overlay"></div>
													</div>
												</div>
											</div>
											<span style="color: #F44336; font-size: 20px;"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
										</div>
										
										<div class="col-lg-3">
											<div class="project-wrapper" style="border: 3px solid #03a9f4;">
												<div class="project">
													<div class="photo-wrapper">
														<div class="photo">
															<a class="fancybox"><img class="img-responsive" src="assets\images\blogs\detail\4.jpg" style="width: 90px; height:80px"  alt=""></a>
														</div>
														<div class="overlay"></div>
													</div>
												</div>
											</div>
											<span style="color: #F44336; font-size: 20px;"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
										</div>
										
										<div class="col-lg-3">
											<div class="project-wrapper" style="border: 3px solid #03a9f4;">
												<div class="project">
													<div class="photo-wrapper">
														<div class="photo">
															<a class="fancybox"><img class="img-responsive" src="assets\images\blogs\detail\4.jpg" style="width: 90px; height:80px"  alt=""></a>
														</div>
														<div class="overlay"></div>
													</div>
												</div>
											</div>
											<span style="color: #F44336; font-size: 20px;"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
										</div>
										
										<div class="col-lg-3">
											<div class="project-wrapper" style="border: 3px solid #03a9f4;">
												<div class="project">
													<div class="photo-wrapper">
														<div class="photo">
															<a class="fancybox" ><img class="img-responsive" src="assets\images\blogs\detail\4.jpg" style="width: 90px; height:80px" alt=""></a>
														</div>
														<div class="overlay"></div>
													</div>
												</div>
											</div>
											<span style="color: #F44336; font-size: 20px;"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
										</div>
									</div>
            </div>
        </div>
       </div>
     
     </div>