<!-- Main Content-->
<div class="content">
    <!-- Section -->
    <section class="md-section" style="padding-top:180px; padding-bottom: 100px;">
      <div class="container" style="max-width: 1330px;" style="border: 1px solid #03a9f4;">
        <div class="row">
          <div class="col-md-6 col-lg-3 col-xl-3">
            <a><img src="assets/img/v-2.jpg" alt="" style="height: 250px; width: 250px; margin-top: 1s0px; margin-left: 10px;"></a>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-9 ">
            <div style=""><span style="font-size: 20px; color:#0060b1;"><i class="fa fa-user" aria-hidden="true"></i> Rajesh Sharma</span>
              <p style="margin-bottom: 0px;"><b>ID :</b> A2Z12345</p>
              <p style="margin-bottom: 0px;"><b>Prof :</b> Actress</p>
              <p style="margin-bottom: 0px;"><b>Location :</b> (Bangalore) Karnataka</p>
              <p style="margin-bottom: 0px;"><b>Height :</b> 5 Feet</p>
              <p style="margin-bottom: 0px;"><b>Weight :</b> 75 KG</p>
              <p style="margin-bottom: 0px;"><b>Address :</b> 219, 4th Main Road Hosur Road Bangalore </p>
              <p style="margin-bottom: 0px;"><b>About Me :</b> Good in painting (oil,acrylic) backdrop designed, thermocol (designs/letters)</p>
              <p style="margin-bottom: 0px;"><a class="btn btn-primary" style="background-color:#3F51B5; border: 1px solid #3F51B5;" href="#">Contact Details</a></p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-6">
            <div style="border: 1px solid #03a9f4;">
               <div class="col-lg-12" style="color: #fff;font-size: 20px; background-color: #03a9f4;">My Gallery</div><br>
              <div class="row">
                <div class="col-lg-2">
                  <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                    <div class="project">
                      <div class="photo-wrapper">
                        <div class="photo">
                          <a class="fancybox" href="assets/img/blogs/detail/4.jpg"><img class="img-responsive" src="assets/img/blogs/detail/4.jpg" style="width: 90px; height:80px"  alt=""></a>
                        </div>
                        <div class="overlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-2">
                  <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                    <div class="project">
                      <div class="photo-wrapper">
                        <div class="photo">
                          <a class="fancybox" href="assets/img/blogs/detail/4.jpg"><img class="img-responsive" src="assets/img/blogs/detail/4.jpg" style="width: 90px; height:80px"  alt=""></a>
                        </div>
                        <div class="overlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-2">
                  <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                    <div class="project">
                      <div class="photo-wrapper">
                        <div class="photo">
                          <a class="fancybox" href="assets/img/blogs/detail/4.jpg"><img class="img-responsive" src="assets/img/blogs/detail/4.jpg" style="width: 90px; height:80px"  alt=""></a>
                        </div>
                        <div class="overlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-2">
                  <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                    <div class="project">
                      <div class="photo-wrapper">
                        <div class="photo">
                          <a class="fancybox" href="assets/img/blogs/detail/4.jpg"><img class="img-responsive" src="assets/img/blogs/detail/4.jpg" style="width: 90px; height:80px" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-2">
                  <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                    <div class="project">
                      <div class="photo-wrapper">
                        <div class="photo">
                          <a class="fancybox" href="assets/img/blogs/detail/4.jpg"><img class="img-responsive" src="assets/img/blogs/detail/4.jpg" style="width: 90px; height:80px" alt=""></a>
                        </div>
                        <div class="overlay"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><br><br>
            </div>
          </div>
          
          <div class="col-lg-6">
            <div style="border: 1px solid #03a9f4;">
               <div class="col-lg-12" style="color: #fff;font-size: 20px; background-color: #03a9f4;">My Videos</div><br>
              <div class="row">
                <div class="col-lg-4">
                  <div class="video" data-init="video">
                    <iframe src="https://www.youtube.com/embed/Q-GOFPM01d0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    <div class="video-content">
                      <div class="video-inner">
                        <div class="video-button"><i class="fa fa-play"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-4">
                  <div class="video" data-init="video">
                    <iframe src="https://www.youtube.com/embed/SAcpESN_Fk4" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    <div class="video-content">
                      <div class="video-inner">
                        <div class="video-button"><i class="fa fa-play"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-4">
                  <div class="video" data-init="video">
                    <iframe src="https://www.youtube.com/embed/9UjlpUnT7QE" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    <div class="video-content">
                      <div class="video-inner">
                        <div class="video-button"><i class="fa fa-play"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <br>
            </div>
          </div>	
        </div>
        <br>
        <div class="row">
          <div class="col-lg-8 col-xl-6 offset-0 offset-sm-0 offset-md-0 offset-lg-2 offset-xl-3 ">
            <!-- form-01 -->
            <div class="form-01 form-01__style-02">
              <h4 class="">Post a comment </h4>
              <form class="form-01__form">
                <div class="form__item" style="padding: 0 0px;">
                  <textarea rows="2" name="Your comment" placeholder="Your comment"></textarea>
                </div>
                <a class="btn btn-primary" href="#">Post comment</a>
              </form>
            </div><!-- End / form-01 -->
            <br>
            <ol class="comment-list">
              <li class="comment parent">
                <div class="comment-content">
                  <div class="comment-avatar">
                    <img alt="" src="assets/img/avatars/avatar-01.jpg" class="avatar photo">
                  </div><!-- .comment-avatar -->
            
                  <div class="comment-body">
                    <span class="fn">John Doe</span>
                    <div class="comment-text">
                      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisc</p>
                    </div>
            
                    <div class="comment-button">
                      <a href="#" class="like">Edit</a>
                      <a href="#" class="reply">Delete</a>
                    </div>
                  </div><!-- .comment-body -->
                </div><!-- .comment-content -->
              </li>
            
              <li class="comment">
                <div class="comment-content">
                  <div class="comment-avatar">
                    <img alt="" src="assets/img/avatars/avatar-01.jpg" class="avatar photo">
                  </div><!-- .comment-avatar -->
            
                  <div class="comment-body">
                    <span class="fn">John Doe</span>
            
                    <div class="comment-text">
                      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisc</p>
                    </div>
            
                    <div class="comment-button">
                      <a href="#" class="like">Edit</a>
                      <a href="#" class="reply">Delete</a>
                    </div>
                  </div><!-- .comment-body -->
                </div><!-- .comment-content -->
              </li>
            </ol>
            
          </div>
        </div>
          
          
        </div>
     
    </section>

  </div>
 
  <div class="row">
    <div class="col-lg-12 ">
      <div style="text-align:center; color: #fff;font-size: 20px; background-color: #008000;">No More Standing in the Queue for AUDITIONS</div>
    </div>
  </div>	
       
  <!-- End / Main Content-->