<div class="md-content">
  <section class="md-section js-consult-form" style="padding-top:180px; padding-bottom: 40px;">
    <div class="container">
        <div class="card" style="margin-left:20px;">
            <div class="container" style="margin-left:10px;margin-top:20px;">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
             <div class="row">
               <h3>Change Password</h3>
               </div>
              <br/>

              <div class="row">
                <div class="col-lg-3">Old Password:</div>
                <div class="col-lg-6">
                  <input formControlName="oldpassword" type="password" class="form-control">
                  
                  </div>
                </div>
                
                <br/>
                <div class="row">
                  <div class="col-lg-3">New Password:</div>
                  <div class="col-lg-6">
                    <input formControlName="newpassword" type="password" class="form-control">
                  </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-lg-3">Confirm Password:</div>
                    <div class="col-lg-6">
                      <input formControlName="confirmpassword" type="password" class="form-control">
                      </div>
                    </div>
                    <br/>
                    <div class="row">
                      <div class="col-lg-2" style="margin-left:400px;">
                        <button class="btn btn-primary"><span>Change Password</span></button>
                      </div>
                      <div class="col-lg-3">
                        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                      </div>
                      </div>
                      <br/>
                      </form>
              </div>
          </div>
      </div>
</section>
</div>



<div class="row">
  <div class="col-lg-12 ">
    <div style="text-align:center; color: #fff;font-size: 20px; background-color: #008000;">No More Standing in the Queue for AUDITIONS</div>
  </div>
</div>	
<footer class="footer" style="background-color:#012b72">
  <div class="footer__main" style=" padding: 15px 75px 25px;">
    <div class="row row-eq-height" style="margin-bottom: -50px;">
      <div class="col-2 col-sm-4 col-md-4 col-lg-2 ">
        <div class="footer__item"><a ><img src="assets\images\logo2.png"  style="height:100px;" alt=""/></a></div>
      </div>
      <div class="col-sm-8">
         <p style="color:#c2c2c2">a2zcinemaworld.com is a single window solutions provider for all kinds of filmy needs and is also a Single Online Auditions Platform for Movies, Serials & Modelling Opportunities.</p>
         <a href="about.html" style="color:#fff">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="about.html" style="color:#fff">Contact Us</a>
      </div>
       
      <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
        <div class="footer__item"><a > <i class="fa fa-angle-up" aria-hidden="true"> </i><span >Back To Top</span></a></div>
      </div>
    </div>
  </div>
  <br/>
  <div class="" style="color:#c2c2c2">2017 &copy; Copyright A2z Cinema Pvt Ltd. All rights Reserved.</div>
  
</footer><!-- End / footer -->