<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A2ZCINEMAWORLD</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

   
</head>
<body style="margin: 0; padding: 0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#012b72" style="padding: 40px 0 30px 0;">
               <h3>A2ZCINEMA</h3>
            </td>
        </tr>
        <tr>
            <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
                <p th:inline="text">Hi [[${name}]] ,</p>
                <p>Thank you for registering your profile/account with A2ZCW.</p>
                <p th:inline="text"> User ID: Email/Mobile  :      [[${email}]]</p>
                <p th:inline="text"> Password      :      [[${password}]]</p>
               <p>To activate your account/profile and to confirm your email ID.</p>
                <p>Please click the following link.</p>
 <a th:href="@{'http://localhost:4200/updateuser/'+${return_page}}"><p th:inline="text">localhost:4200/updateuser[[${return_page}]]</p></a> 
              <!--  <a th:href="@{'http://localhost:4200'}"><p th:inline="text">localhost:4200</p></a> -->
                <p>Thank You.</p>
                <p>Team A2ZCW</p>
                <p>www.a2zcinemaworld.com</p>
                
            </td>
        </tr>
    </table>
    
    

</body>
</html>