<div class="content">
  <section class="md-section" style="padding-top:180px; padding-bottom: 100px;">
    <div class="row">
     <div class="col-lg-6" style="margin-left:20px;">
      <div class="container" style="max-width: 1330px;" style="border: 1px solid #03a9f4;">
        <div class="col-lg-12" style="color: #fff;font-size: 20px; background-color: #03a9f4;">Personal Details</div><br>
        <table id="myTable" style="padding: 20px; margin-top:-13px;">
            <tr class="" style="background-color: #fff; color: #fff; padding-left:10%;">
              <th style="width:50%;"></th>
              <th style="width:50%;"></th>
              <th></th> 
            </tr>
              <tr>
              <td>Name</td>
              <td>{{userName}}</td>
              </tr>
              
              <tr>
              <td>ID</td>
              <td>{{userUniqueId}}</td>
              </tr>
              
              <tr>
              <td>Gender</td>
              <td>{{gender}}</td>
              </tr>
              
               <tr>
              <td>Age</td>
              <td>{{age}}</td>
              </tr>
              
               <tr>
              <td>Height</td>
              <td>{{height}}</td>
              </tr>
              
               <tr>
              <td>Weight</td>
              <td>{{weight}}</td>
              </tr>
              
               <tr>
              <td>Mobile Number</td>
              <td>{{mobile}}</td>
              </tr>
              
               <tr>
              <td>Landline Number</td>
              <td>{{mobile}}</td>
              </tr>
              
               <tr>
              <td>Whatsapp Number</td>
              <td>{{whatsapp}}</td>
              </tr>
              
               <tr>
              <td>Email</td>
              <td>{{email}}</td>
              </tr>
              
               <tr>
              <td>Qualification</td>
              <td>{{qualification}}</td>
              </tr>
              
               <tr>
              <td>Course Done related to film</td>
              <td>{{filmsCourse}}</td>
              </tr>
              
               <tr>
              <td>Languages</td>
              <td>{{language}},&nbsp;{{otherLanguage}}</td>
              </tr>
              
               <tr>
              <td>Select Profile(public or private)</td>
              <td>{{privacy}</td>
              </tr>
              
               <tr>
              <td>About Me</td>
              <td>{{aboutSelf}}</td>
              </tr>
              
               <tr>
              <td>Address</td>
              <td>{{address}}</td>
              </tr>
              
               <tr>
              <td>Country</td>
              <td>{{country}}</td>
              </tr>
              
               <tr>
              <td>State</td>
              <td>{{state}}</td>
              </tr>
              
               <tr>
              <td>City</td>
              <td>{{city}}</td>
              </tr>
              
               <tr>
              <td>Zipcode / Postalcode</td>
              <td>{{zip}}</td>
              </tr>
              
               <tr>
              <td>Film Industry Intested in now</td>
              <td>SANDALWOOD</td>
              </tr>
              
          </table>
      
       </div>
     </div>
     <div class="col-lg-5">
        <div class="container" style="max-width: 1330px;" style="border: 1px solid #03a9f4;">
            <div class="col-lg-12" style="color: #fff;font-size: 20px; background-color: #03a9f4;">My Gallery</div><br>
            
     </div>
          </div>
      </div>
</section>
</div>








<div class="row">
    <div class="col-lg-12 ">
      <div style="text-align:center; color: #fff;font-size: 20px; background-color: #008000;">No More Standing in the Queue for AUDITIONS</div>
    </div>
  </div>	
       
  <!-- End / Main Content-->
  
  
  
  <!-- footer -->
  <footer class="footer" style="background-color:#012b72">
    <div class="footer__main" style=" padding: 15px 75px 25px;">
      <div class="row row-eq-height" style="margin-bottom: -50px;">
        <div class="col-2 col-sm-4 col-md-4 col-lg-2 ">
          <div class="footer__item"><a class="consult_logo" href="#"><img src="assets/img/logo2.png"  style="height:100px;" alt=""/></a></div>
        </div>
        <div class="col-sm-8">
           <p>a2zcinemaworld.com is a single window solutions provider for all kinds of filmy needs and is also a Single Online Auditions Platform for Movies, Serials & Modelling Opportunities.</p>
           <a href="about.html" style="color:#fff">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="about.html" style="color:#fff">Contact Us</a>
        </div>
         
        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
          <div class="footer__item"><a href="index.html" id="back-to-top"> <i class="fa fa-angle-up" aria-hidden="true"> </i><span>Back To Top</span></a></div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">2017 &copy; Copyright A2z Cinema Pvt Ltd. All rights Reserved.</div>
  </footer><!-- End / footer -->