<!-- <home [isUser]="isUser"></home> -->
<!-- Main Content-->

        <!-- Section -->
        <section class="md-section" style="padding-top:200px;">
          <div class="" style="max-width:1400px;margin-left:10px;">
           <div class="row">
              <div class="col-lg-2">
                  <div style="border: 1px solid #03a9f4; margin-bottom:5px;">
                      <div style="text-align:center; color: #fff;font-size: 20px; background-color: #03a9f4;">Birthday's</div>
                      
                      <div style="text-align: center; width: 100%; height: 155px; overflow: scroll;">
                          <div style="text-align: center; margin-top:5px;">
                              <img src="assets\images\image-01.jpg"      style="width: 130px;" alt="">
                              <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i>Kriti Suman</a></h6>
                              <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0100</h6>
                              <h6><i class="fa fa-birthday-cake"></i> 25/11/1190</h6>
                          </div>
                          
                          <div style="text-align: center;">
                              <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                              <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Pavan Singh</a></h6>
                              <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                              <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                          </div>
                          
                          <div style="text-align: center;">
                              <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                              <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Sunder Singh</a></h6>
                              <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                              <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                          </div>
                          
                          <div style="text-align: center;">
                              <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                              <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Kishore Singh</a></h6>
                              <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                              <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                          </div>
                          
                      </div>	
                  </div>
                  
                  
                  <div style="border: 1px solid #03a9f4;">
                      <div style="text-align:center; color: #fff;font-size: 20px; background-color: #03a9f4;">Members Birthday</div>
                      
                      <div style="text-align: center; width: 100%; height: 155px; overflow: scroll;">
                          <div style="text-align: center; margin-top:5px;">
                              <img src="assets/img/kriti.jpg"      style="width: 130px;" alt="">
                              <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i>Kriti Suman</a></h6>
                              <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0100</h6>
                              <h6><i class="fa fa-birthday-cake"></i> 25/11/1190</h6>
                          </div>
                          
                          <div style="text-align: center;">
                              <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                              <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Pavan Singh</a></h6>
                              <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                              <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                          </div>
                          
                          <div style="text-align: center;">
                              <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                              <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Sunder Singh</a></h6>
                              <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                              <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                          </div>
                          
                          <div style="text-align: center;">
                              <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                              <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Kishore Singh</a></h6>
                              <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                              <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                          </div>
                          
                      </div>	
                  </div>
                  
                  
              </div>
              <div class="col-lg-5">
                <div style="border: 1px solid #03a9f4;">
                    <div style="text-align:center; color: #fff;font-size: 20px; background-color: #03a9f4;">Gallery</div>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                           <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                        
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="https://static.pexels.com/photos/39574/flower-exotic-colorful-pink-39574.jpeg" alt="Los Angeles" style="width:100%;">
                              </div>
                        
                              <div class="item">
                                <img src="https://static.pexels.com/photos/265960/pexels-photo-265960.jpeg" alt="Chicago" style="width:100%;">
                              </div>
                            
                              <div class="item">
                                <img src="https://static.pexels.com/photos/39574/flower-exotic-colorful-pink-39574.jpeg" alt="New york" style="width:100%;">
                              </div>
                            </div>
                      
                            <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only" style="background-color:black;">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only" style="background-color:black;">Next</span>
                            </a>
                          </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-3">
                <div style="border: 1px solid #03a9f4;">
                    <div style="text-align:center; color: #fff;font-size: 20px; background-color: #03a9f4;">Advertisement</div>
                    <!-- carousel__element owl-carousel -->
                    <div class="carousel__element" style="width: 100%; height: 355px;" data-options='{"items":1,"loop":true,"dots":false,"autoplay": true,"autoplayTimeout": 3000,"nav":false,"responsive":{"0":{"items":2},"576":{"items":3},"992":{"items":1}}}'>
                        <div class="image-full"><img src="assets\images\v-2.jpg" style="width: 305px; height:330px" alt=""></div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div style="border: 1px solid #03a9f4;">
                    <div style="text-align:center; color: #fff;font-size: 20px; background-color: #03a9f4;">Premium Members</div>
                    
                    <div style="text-align: center; width: 100%; height: 355px; overflow: scroll;">
                        <div style="text-align: center; margin-top:5px;">
                            <img src="assets/img/image-05.jpg"      style="width: 130px;" alt="">
                            <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Rajesh Sharma</a></h6>
                            <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0100</h6>
                            <h6><i class="fa fa-birthday-cake"></i> 25/11/1190</h6>
                        </div>
                        
                        <div style="text-align: center;">
                            <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                            <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Pavan Singh</a></h6>
                            <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                            <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                        </div>
                        
                        <div style="text-align: center;">
                            <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                            <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Sunder Singh</a></h6>
                            <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                            <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                        </div>
                        
                        <div style="text-align: center;">
                            <img src="assets/img/image-05.jpg" style="width: 130px;" alt="">
                            <h6 style="margin-bottom: 4px;"><a href="#"><i class="fa fa-user"></i> Kishore Singh</a></h6>
                            <h6 style="margin-bottom: 4px;">ID:A2ZCW2018-0110</h6>
                            <h6><i class="fa fa-birthday-cake"></i> 15/11/1190</h6>
                        </div>
                        
                    </div>	
                </div>
            </div>
             </div>
            
          </div>
          </section>
        <br/>
        <section class="section" style="">
        <div class="" style="max-width:1330px;margin-left:10px;">
            <div class="row">
                <div class="col-lg-12">
                        <div style="border: 1px solid #03a9f4;">
                                <div style="text-align:center; color: #fff;font-size: 20px; background-color: #03a9f4;">Latest Movies/Trailer</div>
                                <div id="videoCarousel" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                           <li data-target="#videoCarousel" data-slide-to="0" class="active"></li>
                                           <li data-target="#videoCarousel" data-slide-to="1"></li>
                                           <li data-target="#videoCarousel" data-slide-to="2"></li>
                                           <li data-target="#videoCarousel" data-slide-to="3"></li>
                                           <li data-target="#videoCarousel" data-slide-to="4"></li>
                                           <li data-target="#videoCarousel" data-slide-to="5"></li>
                                         </ol>
                                     
                                         <!-- Wrapper for slides -->
                                         <div class="carousel-inner">
                                             <div class="row">
                                                 <div class="col-lg-2">
                                                <div class="video" data-init="video">
                                                        <iframe src="https://www.youtube.com/embed/Q-GOFPM01d0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                                        
                                                    </div>
                                                    </div>
                                                    <div class="col-lg-2" style="margin-left:90px;">
                                                    <div class="video" data-init="video">
                                                            <iframe src="https://www.youtube.com/embed/SAcpESN_Fk4" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                                           
                                                        </div>
                                                        </div>
                                                        <div class="col-lg-2" style="margin-left:90px;">
                                                                <div class="video" data-init="video">
                                                                        <iframe src="https://www.youtube.com/embed/9UjlpUnT7QE" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                                                       
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-lg-2" style="margin-left:90px;">
                                                                            <div class="video" data-init="video">
                                                                                    <iframe src="https://www.youtube.com/embed/azeE1F3DK2k" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                                                                   
                                                                                </div>
                                                                                </div>                                     
                                                        </div>
                                         </div>
                                   
                                         <!-- Left and right controls -->
                                       <a class="left carousel-control" href="#videoCarousel" data-slide="prev">
                                           <span class="glyphicon glyphicon-chevron-left"></span>
                                           <span class="sr-only" style="background-color:black;">Previous</span>
                                         </a>
                                         <a class="right carousel-control" href="#videoCarousel" data-slide="next">
                                           <span class="glyphicon glyphicon-chevron-right"></span>
                                           <span class="sr-only" style="background-color:black;">Next</span>
                                         </a>
                                       </div>
                            
                            </div>
                    </div>
                </div>
            </div>
            </section>
            <br/>
        
            <section class="section">
                    <div class="" style="max-width: 1330px;margin-left:10px;">
                            <div class="row">
                                    <div class="col-lg-12 ">
                                            <div class="col-lg-12" style="color: #fff;font-size: 20px; background-color: #012b72;">
                                                    <div class="form__item">
                                                        <label>Select Languages : </label>
                                                        <label><input type="checkbox" id="" value=""> English</label>
                                                        <label><input type="checkbox" id="" value=""> Kannada</label>
                                                        <label><input type="checkbox" id="" value=""> Telgu</label>
                                                        <label><input type="checkbox" id="" value=""> Malayalm</label>
                                                        <label><input type="checkbox" id="" value=""> Tamil</label>
                                                        <label><input type="checkbox" id="" value=""> Hindi</label>
                                                        <label><input type="checkbox" id="" value=""> Other</label>
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                        </div><br/>
                        <div style="border: 1px solid #03a9f4;margin-left:10px;">
                                <div class="col-lg-12" style="color: #fff;font-size: 20px; background-color: #03a9f4;"><span><i class="fa fa-plus" id="lplus" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-minus" id="lmin" aria-hidden="true"></i></span><span style="margin-left:430px">This Week Releasing Movies</span><span style="margin-left:500px"><i class="fa fa-plus" id="rplus"  aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-minus" id="rmin" aria-hidden="true"></i></span></div><br>
                                
                               <div class="row testis">
                                   <div class="col-lg-3">
                                       <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                                           <div class="project">
                                               <div class="photo-wrapper">
                                                   <div class="photo">
                                                       <a class="fancybox" href="assets\images\blogs\4.jpg"><img class="img-responsive" src="assets\images\blogs\4.jpg" style="width: 300px; height:250px" alt=""></a>
                                                   </div>
                                                   <div class="overlay"></div>
                                                   
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-lg-3">
                                       <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                                           <div class="project">
                                               <div class="photo-wrapper">
                                                   <div class="photo">
                                                       <a class="fancybox" href="assets\images\blogs\4.jpg"><img class="img-responsive" src="assets\images\blogs\4.jpg" style="width: 300px; height:250px" alt=""></a>
                                                   </div>
                                                   <div class="overlay"></div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   
                                   <div class="col-lg-3">
                                       <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                                           <div class="project">
                                               <div class="photo-wrapper">
                                                   <div class="photo">
                                                       <a class="fancybox" href="assets\images\blogs\4.jpg"><img class="img-responsive" src="assets\images\blogs\4.jpg" style="width: 300px; height:250px" alt=""></a>
                                                   </div>
                                                   <div class="overlay"></div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   
                                   <div class="col-lg-3">
                                       <div class="project-wrapper" style="border: 3px solid #03a9f4;">
                                           <div class="project">
                                               <div class="photo-wrapper">
                                                   <div class="photo">
                                                       <a class="fancybox" href="assets\images\blogs\4.jpg"><img class="img-responsive" src="assets\images\blogs\4.jpg" style="width: 300px; height:250px" alt=""></a>
                                                   </div>
                                                   <div class="overlay"></div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div> 
                               <br>
                           </div>
                    </section>
                    <div class="row">
                        <div class="col-lg-12 ">
                          <div style="text-align:center; color: #fff;font-size: 20px; background-color: #008000;">No More Standing in the Queue for AUDITIONS</div>
                        </div>
                      </div>	
                      <footer class="footer" style="background-color:#012b72">
                        <div class="footer__main" style=" padding: 15px 75px 25px;">
                          <div class="row row-eq-height" style="margin-bottom: -50px;">
                            <div class="col-2 col-sm-4 col-md-4 col-lg-2 ">
                              <div class="footer__item"><a ><img src="assets\images\logo2.png"  style="height:100px;" alt=""/></a></div>
                            </div>
                            <div class="col-sm-8">
                               <p style="color:#c2c2c2">a2zcinemaworld.com is a single window solutions provider for all kinds of filmy needs and is also a Single Online Auditions Platform for Movies, Serials & Modelling Opportunities.</p>
                               <a href="about.html" style="color:#fff">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="about.html" style="color:#fff">Contact Us</a>
                            </div>
                             
                            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
                              <div class="footer__item"><a > <i class="fa fa-angle-up" aria-hidden="true"> </i><span >Back To Top</span></a></div>
                            </div>
                          </div>
                        </div>
                        <br/>
                        <div class="" style="color:#c2c2c2">2017 &copy; Copyright A2z Cinema Pvt Ltd. All rights Reserved.</div>
                        
                      </footer><!-- End / footer -->