<!-- Main Content-->
<div class="content">
		<!-- Section -->
		<section class="md-section" style="padding-top:200px; margin-bottom:-100px;">
		 <div class="row">
				<div class="col-lg-5">
						<div style="border: 1px solid #03a9f4;">
							<div style="text-align:center; color: #fff;font-size: 20px; background-color: #03a9f4;">Gallery</div>
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<!-- Wrapper for slides -->
									<div class="carousel-inner">
									  <div class="item active">
										<div class="container">
											<div class="row">
												<div class="col-lg-3">
													<img src="assets\images\banner4.jpg" style="height:50px;
													width: 50%;">
													</div>
													<div class="col-lg-5">
														Something
														</div>
												</div>
											</div>
									  </div>
								
									  <div class="item">
										value2
									  </div>
									
									  <div class="item">
										value3
									  </div>
									</div>
							  
									<!-- Left and right controls -->
								  
								  </div>
								 
							
						</div>
					</div>



		 </div>
	  
		   
		 
		
				<span class="glyphicon glyphicon-chevron-right" href="#myCarousel" data-slide="next"></span>
				
			 
		</section>
	  </div>

	  <i class="fa fa-angle-right"></i>