<div  class="col-sm-6 col-md-6 col-lg-3 " style="margin-right:-60px; text-align: right;">
  <div ngbDropdown class="d-inline-block">
    <span id="dropdownBasic1" ngbDropdownToggle style="margin-rigth:60px;cursor:pointer;"><i class="fa fa-user-circle" aria-hidden="true" style="color:#0095ff"></i><span>kritisuman</span>&nbsp;&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></span>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="left:170px;">
      <li style="cursor:pointer">
        <span><i class="fa fa-user" aria-hidden="true" style="color:#0095ff" ></i>&nbsp;&nbsp;&nbsp;My Profile</span>
      </li>
      <li  style="cursor:pointer"><i class="fa fa-user" aria-hidden="true" style="color:#0095ff"></i>&nbsp;&nbsp;&nbsp;<span>Update Profile</span></li>
      <li style="cursor:pointer"><span><i class="fa fa-trash-o" style="color:#0095ff"></i>&nbsp;&nbsp;&nbsp;Delete Gallery</span></li>
      <li style="cursor:pointer">&nbsp;&nbsp;&nbsp;<span>Delete Videos</span></li>
      <li style="cursor:pointer">&nbsp;&nbsp;&nbsp;<span>Change Password</span></li>
      <li  style="cursor:pointer">&nbsp;&nbsp;&nbsp;<span>Log Out</span></li>
    </div>
  </div>
</div> 

<form novalidate>
    <my-date-picker name="mydate" [options]="myDatePickerOptions"
    (dateChanged)="onDateChanged($event)" required></my-date-picker>
</form>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<my-date-picker name="mydate"[options]="myDatePickerOptions"
                    formControlName="myDate" (dateChanged)="onDateChanged($event)"></my-date-picker>
<button class="btn btn-primary">Submit</button>
                  </form>
<p>
    Static self-closing alert that disappears after 20 seconds (refresh the page if it has already disappeared)
  </p>
  <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Check out our awesome new features!</ngb-alert>
  
  <hr/>
  
  <p>
    Show a self-closing success message that disappears after 5 seconds.
  </p>
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}value is showing</ngb-alert>
  <p>
    <button class="btn btn-primary" (click)="changeSuccessMessage()">Change message</button>
  </p>

  <button class="btn btn-primary" (click)="onClick()">Test</button>
  <div class="row">
    <div class="col-lg-12 ">
      <div style="text-align:center; color: #fff;font-size: 20px; background-color: #008000;">No More Standing in the Queue for AUDITIONS</div>
    </div>
  </div>	
  <footer class="footer" style="background-color:#012b72">
    <div class="footer__main" style=" padding: 15px 75px 25px;">
      <div class="row row-eq-height" style="margin-bottom: -50px;">
        <div class="col-2 col-sm-4 col-md-4 col-lg-2 ">
          <div class="footer__item"><a ><img src="assets\images\logo2.png"  style="height:100px;" alt=""/></a></div>
        </div>
        <div class="col-sm-8">
           <p style="color:#c2c2c2">a2zcinemaworld.com is a single window solutions provider for all kinds of filmy needs and is also a Single Online Auditions Platform for Movies, Serials & Modelling Opportunities.</p>
           <a href="about.html" style="color:#fff">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="about.html" style="color:#fff">Contact Us</a>
        </div>
         
        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
          <div class="footer__item"><a > <i class="fa fa-angle-up" aria-hidden="true"> </i><span >Back To Top</span></a></div>
        </div>
      </div>
    </div>
    <br/>
    <div class="" style="color:#c2c2c2">2017 &copy; Copyright A2z Cinema Pvt Ltd. All rights Reserved.</div>
    
  </footer><!-- End / footer -->