<div class="md-content">
    <section class="md-section js-consult-form" style="padding-top:200px; padding-bottom: 40px;">
     <div class="container"  style="border: 2px solid #03a9f4;">
      <div class="row" style="margin-left:2px;margin-top:5px;">
        <div class="col-lg-2">
          <img src="assets\images\v-2.jpg" style="height:200px;weight:100%" >
          </div>
          <div class="col-lg-9">
            <div class="row">
              <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
              <div class="col-lg-1">ID:</div>
            <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">A2ZCW12345</span></div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                <div class="col-lg-1">Name:</div>
              <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">Kriti Suman</span></div>
              </div>
              <div class="row">
                  <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                  <div class="col-lg-2">Profession:</div>
                <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;margin-left: -50px;">Actor</span></div>
                </div>
                <div class="row">
                    <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                    <div class="col-lg-1">Age:</div>
                  <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">26</span></div>
                  </div>
                  <div class="row">
                      <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                      <div class="col-lg-1">Height:</div>
                    <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">5 Feet 5 Inches</span></div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                        <div class="col-lg-1">Weight:</div>
                      <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">52</span></div>
                      </div>
                      <div class="row">
                          <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                          <div class="col-lg-3">Have Worked In:</div>
                        <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;margin-left:-80px;">Hollywood</span></div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                            <div class="col-lg-2">Film Industry interested:</div>
                          <div class="col-lg-5"> <span  style="color:#0060b1;font-weight: bold;">Hollywood</span></div>
                          </div>
                                          <div class="row">
                                              <!-- <div class="col-lg-7">ID:<span style="color:#0060b1;"><h5>A2ZCW12345</h5></span></div> -->
                                              <div class="col-lg-2">About me:</div>
                                              <div class="col-lg-5">Something</div>
                                              </div>

            </div>
        </div>
</div>
      </section>
      </div>