.header{
    position:fixed;
    width:100%;
    z-index:2;
    background-color: white;
   
  } 

  .container-4 button.icon{
   
    margin-left:-4px;
    background-color:#f39c12;
     padding: 9px 12px;
     border-radius: 8px;
  }
 input.search{
     border: 1px solid orange;
 }

 /* ul{
    display: flex;
 }
  */

 li{
   color:white;
 }
 .button{
  border-radius: 8px;
 }
 ul.nav.navbar-nav{
   background-color: #012b72;
 }
 input.form-control{
   height: 48px;
   
 }
 select{
   height: 48px;;
 }
 div.modal-content{
   width: 350px;
   align-content: center;
   margin-left:100px;
 }

 :host >>> .alert-custom {
  color: white;
  background-color: #0c5460;
  border-color: #0c5460;
}
i.alter::before{
  font-size: 30px;
}