input.form-control.fa.fa-search{
    width:970px;
}
a.btn.btn-primary{
  padding:6px 10px 6px 150px;
  
}
th{
    background-color: #03a9f4;
    text-align: center;
    border:2px solid white;
}
tr>td{
    border:2px solid white;
}
table>thead>tr{
    border-bottom:2px solid white;
}
tr>th{
    border-bottom: 2px solid white;
}