<!-- Main Content-->
			<div class="content">
				<!-- Section -->
				<section class="md-section" style="padding-top:180px; padding-bottom: 40px;">
					<div class="container" style="max-width: 1330px;">
						<div class="row">
							<div class="col-lg-12 ">
							<p style="font-size: 20px; font-weight: 700;">WANT TO MAKE YOUR MOVIES THROUGH CROWD FUNDING?</p>
							<p>A2zcinemaworld.com provides you the platform through MobileApp and Website for you now and forever. Just a single click takes you online registration process and uploading your personal and professional details. For good featured movies along with a good story, a script and plans, production budget also plays a vital role and getting money invested from public through Crowd funding method in movie making is other amazing job. Anyone and everybody can become PUBLIC- PRODUCERS by investing the money starting from 1 lakh OR more on their capability and can make money.<p>
							<p style="font-size: 20px;"><i class="fa fa-whatsapp" style="color:#27c24c"></i> For any queries,whatsapp us on 9740200366 for immediate solutions.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 ">
								 <div style="text-align:center; color: #fff;font-size: 24px; background-color: #03a9f4;">List of Movies</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-4 ">
								<input class="form-control fa fa-search" width="970px;" type="text"  placeholder="&#xf002; Search Movie Names.."  style="background-color: #012b72; color: #fff"title="Type in a name">
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 ">
								&nbsp;
							</div>
							<div class="col-sm-6 col-md-6 col-lg-2 ">
								&nbsp;
							</div>
							
							<div class="col-sm-6 col-md-4 col-lg-2 ">
								<a class="btn btn-primary"><span style="margin-left:-130px;">Search</span></a>
							</div>
						</div>
           
                <table  class="table table-hover table-striped" style="border:1px solid white">
                <thead>
                    <tr>
                        <th>Movie Name</th>
                        <th>Director Name</th>
                        <th>Production House</th>
                        <th>Producers</th>
                        <th>Star Casts</th>
                        <th>Movie Budget</th>
                        <th>Appealed Amount</th>
                        <th>Remaining Amount</th>
                        <th>Still Need</th>
                        <th>Status</th>
                        <th>Payment</th>
                    
                      </tr>
                </thead>
                <tbody>
                    <tr style=" background-color: #dcdcdc;">
                        <td>Raja Ki Rani</td>
                        <td>Tanvi Sundar</td>
                        <td>Tanvi Productions</td>
                        <td>Tanvi</td>
                        <td>Tanvi</td>
                        <td>1000000</td>
                        <td>1200000</td>
                        <td>80000</td>
                        <td>20000</td>
                        <td>20%</td>
                        <td>open</td>
                        
                        </tr>
                        <tr style=" background-color: grey;">
                            <td>Raja Ki Rani</td>
                            <td>Tanvi Sundar</td>
                            <td>Tanvi Productions</td>
                            <td>Tanvi</td>
                            <td>Tanvi</td>
                            <td>1000000</td>
                            <td>1200000</td>
                            <td>80000</td>
                            <td>20000</td>
                            <td>20%</td>
                            <td>open</td>
                            
                            </tr>
                </tbody>
                </table>
            
					</div>
				</section>
				
				<br>	
								
			</div>
		 
      <div class="row">
          <div class="col-lg-12 ">
            <div style="text-align:center; color: #fff;font-size: 20px; background-color: #008000;">No More Standing in the Queue for AUDITIONS</div>
          </div>
        </div>	
        <footer class="footer" style="background-color:#012b72">
          <div class="footer__main" style=" padding: 15px 75px 25px;">
            <div class="row row-eq-height" style="margin-bottom: -50px;">
              <div class="col-2 col-sm-4 col-md-4 col-lg-2 ">
                <div class="footer__item"><a ><img src="assets\images\logo2.png"  style="height:100px;" alt=""/></a></div>
              </div>
              <div class="col-sm-8">
                 <p style="color:#c2c2c2">a2zcinemaworld.com is a single window solutions provider for all kinds of filmy needs and is also a Single Online Auditions Platform for Movies, Serials & Modelling Opportunities.</p>
                 <a href="about.html" style="color:#fff">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="about.html" style="color:#fff">Contact Us</a>
              </div>
               
              <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
                <div class="footer__item"><a > <i class="fa fa-angle-up" aria-hidden="true"> </i><span >Back To Top</span></a></div>
              </div>
            </div>
          </div>
          <br/>
          <div class="" style="color:#c2c2c2">2017 &copy; Copyright A2z Cinema Pvt Ltd. All rights Reserved.</div>
          
        </footer>